<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a class="navbar-brand">Library Management</a>
    </div>

    <ul class="navbar-nav">
      <li>
        <a
          *ngIf="loginService.isUserLoggedIn()"
          routerLink="/userdashboard"
          class="nav-link"
          >User Dashboard</a
        >
      </li>
      <li>
        <a
          *ngIf="loginService.isUserLoggedIn()"
          routerLink="/wishlist"
          class="nav-link"
          >Wish List</a
        >
      </li>
      <li>
        <a
          *ngIf="loginService.isUserLoggedIn()"
          routerLink="/completedlist"
          class="nav-link"
          >Completed List</a
        >
      </li>
      <li>
        <a
          *ngIf="!loginService.isUserLoggedIn()"
          routerLink="/login"
          class="nav-link"
          >Login</a
        >
      </li>
      <li>
        <a
          *ngIf="!loginService.isUserLoggedIn()"
          routerLink="/userregistration"
          class="nav-link"
          >User Registration</a
        >
      </li>
      <li>
        <a
          *ngIf="!loginService.isUserLoggedIn()"
          routerLink="/booklist"
          class="nav-link"
          >Book List</a
        >
      </li>
      <li>
        <a
          *ngIf="loginService.isUserLoggedIn()"
          routerLink="/logout"
          class="nav-link"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</header>
