<div *ngIf="this.wishzero == true">
  <h2 id="nodataheading">Book List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Book Name</th>
        <th scope="col">Author Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of book; let i = index">
        <td *ngIf="b.isinwishlist == 1">{{ i + 1 }}</td>
        <td *ngIf="b.isinwishlist == 1">{{ b.bookname }}</td>
        <td *ngIf="b.isinwishlist == 1">{{ b.authorname }}</td>
        <td *ngIf="b.isinwishlist == 1">
          <button class="btn btn-danger" (click)="remove(b)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div
  *ngIf="this.wishzero == false"
  class="mx-auto w-50 p-5 bg-dark text-white text-center"
>
  <span
    >There are no books in your Wishlist. <br />
    You can add it here from
    <a routerLink="/userdashboard">User dashboard</a> page</span
  >
</div>
